# A generated secret for Payload
PAYLOAD_SECRET=
GITHUB_URL=https://github.com/ZhuHaoming2005/campusblog
NEXT_PUBLIC_SITE_URL=http://localhost:3000
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
AUTH_EMAIL_FROM_ADDRESS=noreply@mail.campusblog.net
AUTH_EMAIL_FROM_NAME=CampusBlog
AUTH_EMAIL_DEBUG=true
AUTH_EMAIL_DEBUG_DELIVER=false
AUTH_EMAIL_DEBUG_PRINT_URLS=true
